<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
<p>自身浮动</p>
<div class="self-float">
    <div class="left"></div>
    <div class="right"></div>
    <div class="main"></div>
</div>
<p>绝对定位</p>
<div class="absolute-pos">
    <div class="left"></div>
    <div class="right"></div>
    <div class="main"></div>
</div>
<p>margin负值</p>
<div class="margin-negative">
    <div class="main">
        <div class="content"></div>
    </div>
    <div class="left"></div>
    <div class="right"></div>
    <div style="clear:both"></div>
</div>
<p>flex布局</p>
<div class="flex-container">
    <div class="left"></div>
    <div class="main"></div>
    <div class="right"></div>

</div>
</body>
</html>