.grid-container {
    display: grid;
    background: #67a3d9;
    /* 显示网格属性 */
    /*grid-template-columns: 100px 50px 60px;*/
    /*grid-template-rows: 100px 200px 50px;*/

    /* 隐式网格属性 */
    /*grid-auto-columns: 100px;*/
    /*grid-auto-rows: 100px;*/

    /* 使用fr按比例设置宽度 */
    /*grid-template-columns: 1fr 1fr 2fr;*/

    /* minmax() 函数来创建行或列的最小或最大尺寸，
    第一个参数定义网格轨道的最小值，
    第二个参数定义网格轨道的最大值 */
    /* 高度计算方式： 最小高度之和 + （总容器高度 - 各行最小高度之和） / 行数 */
    /*grid-template-rows: minmax(100px, 200px) minmax(50px, 200px);*/
    /*grid-template-columns: 1fr 1fr 2fr;*/
    /*height: 300px;*/

    /* repeat() 适用于创建相等尺寸的网格项目和多个网格项目*/
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    /* 网格列与列的距离*/
    grid-column-gap: 50px;
    /*行与行之间的距离*/
    grid-row-gap: 10px;
}

.grid-item {
    border: 2px solid palegoldenrod;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

/* 使用网格线定位item */
.item1 {
    /*grid-row-start: 2;*/
    /*grid-row-end: 2;*/

    /* 上面两个的缩写 */
    /* grid-row: 2;*/

    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/

    /* 上面两个的缩写 */
    /*grid-column: 3 / 4;*/

    /* 上面四个的缩写 */
    /*grid-area: 2 / 2 / 3 / 3;*/

    /* 合并单元格 */
    grid-row: 2 / span 3;
    grid-column: span 2;
    background: #fffa90;
    color: #333333;
}

.grid-container-area {
    text-align: center;
    padding: 20px;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background: pink;
    grid-template-areas: "header header header header header"
    "sidebar content content content content"
    "footer footer footer footer footer";
    grid-template-rows: 50px 150px 50px;
    grid-template-columns: 200px 200px 200px;
}

.header {
    grid-area: header;
    background: #fff
}

.content {
    grid-area: content;
    background: #fffa90
}

.sidebar {
    grid-area: sidebar;
    background: #5bc0de
}

.footer {
    grid-area: footer;
    background: #ffff00
}