<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>grid</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="grid-container">
    <div class="grid-item item1">1</div>
    <div class="grid-item item2">2</div>
    <div class="grid-item item3">3</div>
    <div class="grid-item item4">4</div>
    <div class="grid-item item5">5</div>
    <div class="grid-item item6">6</div>
</div>
<p>grid-template-areas的使用</p>
<div class="grid-container-area">
    <div class="header ">header</div>
    <div class="content ">content</div>
    <div class="sidebar ">sidebar</div>
    <div class="footer ">footer</div>
</div>

</body>
</html>